<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">이젠 인테리어</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div>
                        <a class="nav-link m-1" href="/contactList">문의리스트</a>
                    </div>
                </li>
        </div>
    </div>
</nav>