<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Default Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"> <!-- 부트스트랩 css 참조-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> <!-- 부트스트랩 아이콘 참조-->
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- 커스터마이징 css 참조-->
</head>
<body>
<!--네비게이션 바 추가-->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!--기본 템플릿 안에 삽입될 내용 Start-->
<!--
    th block, layout fragment 형태로 미리 프레임을 만듬
-->
<th:block layout:fragment="content"></th:block>
<!--기본 템플릿 안에 삽입될 내용 End-->
<script th:src="@{/js/bootstrap.bundle.js}"></script> <!-- 부트스트랩 js 참조 -->
<!--Javascript-->
<th:block layout:fragment="script"></th:block>
</body>
</html>

<!--
    implementation 'nz.net.ultraq.thymeleaf:thymeleaf-layout-dialect' 를 gradle에서 의존성 추가를 한뒤
    상속 하고자 하는 html 태그들을 다른 여러 템플릿에 적용 할 수 있음
    - xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 추가
-->