<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container max600" layout:fragment="content">
    <h1 class="text-center">로그인</h1>
    <div>
        <form th:action th:Object="${loginForm}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="field-error">
                    전체 오류 메시지
                </p>
            </div>
            <div>
                <label th:for="loginId" class="form-label">ID</label>
                <input type="text"  th:field="*{loginId}" class="form-control" th:errorclass="field-error" placeholder="ID를 넣어주세요">
                <div th:errors="*{loginId}" class="field-error"></div>
            </div>
            <div>
                <label th:for="password" class="form-label">비밀번호</label>
                <input type="password" th:field="*{password}" class="form-control" th:errorclass="field-error" placeholder="패스워드를 넣어주세요">
                <div th:errors="*{password}" class="field-error"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <button type="submit" class="w-100 btn btn-lg btn-primary" th:onclick="|location.href='@{/members/login}'|">로그인</button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-lg btn-dark" th:onclick="|location.href='@{/}'|">취소</button>
                </div>
            </div>
        </form>
    </div>
</div>

</html>