<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container" layout:fragment="content">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
        <hr>
    </div>
    <table class="table table-hover text-center">
        <thead>
        <tr>
            <th>#</th>
            <th>아이디</th>
            <th>이름</th>
            <th>비밀번호</th>
            <th>등급</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memberList:${memberList}">
            <td th:text="${memberList.getId()}">1</td>
            <td th:text="${memberList.getLoginId()}">아이디</td>
            <td th:text="${memberList.getName()}">이름</td>
            <td th:text="${memberList.getPassword()}">비밀번호</td>
            <td th:text="${memberList.getGrade()}">등급</td>
            <td><a class="btn btn-warning" role="button" th:href="@{/members/{id}/edit(id=${memberList.id})}">수정</a></td>
            <td><a class="btn btn-danger" role="button" th:href="@{/members/{id}/delete(id=${memberList.id})}">삭제</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-success" role="button" href="/">홈으로</a>
    </div>
</div>
</html>
<!--
    1. thymeleaf 반복문 문법 (Controller에서 받아 오는 데이터를 사용하는 방법)
    <ul>
        <li th:each="item : ${itemList}" th:text="${item}">기본 리스트 아이템</li>
    </ul>
    2. thymeleaf URL 생성 문법
    <a th:href="@{/path/to/resource(id=${item.id})}">링크 텍스트</a>
    ** role="" 웹브라우저에 해당 태그의 역할을 알려주기 위한 속성, 예) a 링크를 부트스트랩 버튼으로 사용하는 경우
 -->