<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container max600" layout:fragment="content">
    <div class="py-5 text-center">
        <h2 >회원 수정</h2>
    </div>
    <div class="mb-3 ">
        <h4>회원정보 입력</h4>
        <form th:action th:Object="${memberForm}" method="post">
            <!-- id="loginId" name="loginId" 를 자동 생성 해줌-->
            <input type="hidden" th:field="*{id}">
            <label th:for="loginId" class="form-label">로그인 ID</label>
            <input type="text"  th:field="*{loginId}" class="form-control" th:errorClass="field-error">
            <div th:errors="*{loginId}" class="field-error"></div>

            <label th:for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" th:errorClass="field-error" th:placeholder="'힌트: 비밀번호는 ' + *{password} + ' 입니다'">
            <div th:errors="*{password}" class="field-error"></div>

            <label th:for="name" class="form-label">이름</label>
            <input type="text" th:field="*{name}" class="form-control" th:errorClass="field-error">
            <div th:errors="*{name}" class="field-error"></div>

<!--                <div>-->
<!--                    <select class="form-select" aria-label="Default select example">-->
<!--                        <option selected th:field="*{grade}" th:errorClass="field-error"></option>-->
<!--                        <option value="1">user</option>-->
<!--                        <option value="2">admin</option>-->
<!--                    </select>-->
<!--                </div>-->

            <label th:for="grade" class="form-label">등급</label>
            <input type="text" th:field="*{grade}" class="form-control" th:errorClass="field-error">
            <div th:errors="*{grade}" class="field-error"></div>

            <hr>
            <div class="row">
                <div class="col">
                    <button type="submit" class="w-100 btn btn-lg btn-primary" >회원수정</button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-lg btn-dark" th:onclick="|location.href='@{/members}'|">취소</button>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
<!--
    1. thymeleaf 변수 사용 문법
    <p th:text="${variableName}">기본 텍스트</p>
    2. thymeleaf 조건문 사용 문법
    <div th:if="${condition}">
        조건이 참일 때 <div> 블럭에 보여질 내용
    </div>
    3. thymeleaf 폼데이터 바인딩 문법
    <form th:action="@{/submit}" method="post" th:object="${user}">
        <input type="text" th:field="*{name}" placeholder="이름"/>
        <input type="password" th:field="*{password}" placeholder="패스워드"/>
        <button type="submit">제출</button>
    </form>
 -->