<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:hh="http://www.w3.org/1999/xhtml">
<div class="container" layout:fragment="content">
    <div class="py-5 text-center">
        <h2>질문 목록 보기</h2>
        <hr>
    </div>
    <table class="table table-hover text-center">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th style="width: 50%;">제목</th>
            <th>글쓴이</th>
            <th>작성일자</th>
            <th>수정일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question,loop :${paging}" class="text-center">
            <!-- <td th:text="${index.count}">1</td> -->
            <td th:text="${(paging.totalElements - (paging.number * paging.size) - loop.index)}">번호</td>
            <td>
               <a th:href="@{/question/detail/{id} (id=${question.id})}" th:text="${question.subject}">제목</a>
            </td>
            <td th:text="${question.author !=null ? question.author.name : 'Unknown'}">글쓴이</td>
            <td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd hh:mm:ss')}">작성일시</td>
            <td th:text="${#temporals.format(question.modifyDate,'yyyy-MM-dd hh:mm:ss')}">수정일시</td>
        </tr>
        </tbody>
    </table>
    <!-- 페이지네이션 317 - (0 * 9) - 0 -->
    <nav th:if="${!paging.isEmpty()}" class="d-flex justify-content-center">
        <ul class="pagination">
            <li th:classappend="${!paging.hasPrevious()} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="@{|?page=${paging.number - 1}|}">이전</a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}" th:classappend="${page == paging.number} ? 'active'" th:if="${page >= paging.number - 2 and page <= paging.number + 2}" class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}">1</a>
            </li>
            <li th:classappend="${!paging.hasNext()} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="@{|?page=${paging.number + 1}|}">다음</a>
            </li>
        </ul>
    </nav>
    <!-- 페이지네이션  -->
    <div>
        <a class="btn btn-dark" role="button" href="/question/create">질문 등록하기</a>
    </div>
</div>
</html>
<!--
    1. thymeleaf 반복문 문법 (Controller에서 받아 오는 데이터를 사용하는 방법)
    <ul>
        <li th:each="item : ${itemList}" th:text="${item}">기본 리스트 아이템</li>
    </ul>
    2. thymeleaf URL 생성 문법
    <a th:href="@{/path/to/resource(id=${item.id})}">링크 텍스트</a>
    ** role="" 웹브라우저에 해당 태그의 역할을 알려주기 위한 속성, 예) a 링크를 부트스트랩 버튼으로 사용하는 경우


    참고서적 : https://wikidocs.net/162028  점프투스프링부트
 -->