<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div th:if="${loginMember}">
            <p th:text="|${loginMember.name}님 환영 합니다 |" class="m-1 fw-bold text-end">000 님 환영 합니다?</p>
          </div>
          <div th:if="${loginMember == null}">
            <a class="nav-link m-1" aria-current="page" href="/login">로그인</a>
          </div>
        </li>
        <li class="nav-item">
          <div >
            <form th:if="${loginMember}" th:action="@{/logout}" method="post" class="">
              <button type="submit" class="m-1 btn btn-sm btn-dark text-end">로그아웃</button>
            </form>
          </div>
          <div th:if="${loginMember == null}">
            <a class="nav-link m-1" href="/add">회원가입</a>
          </div>
        </li>
    </div>
  </div>
</nav>